// .SCSS FILE FOR NAVBAR
.main_nav {
  background-color: rgb(62 191 255);
}

// SUB NAV
.sub_nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  //   border: 1px solid red;
  gap: 10px;
  padding: 10px;
  //   (top, right, bottom, left).
  //   margin: 0px 10px 0px 20px;
  margin: auto;

  // height: 70px;
}

// LOGO DIV
.logo_sunny {
  //   border: 1px solid red;
  display: flex;
  align-items: center;

  .svg_logo {
    width: 150px;
  }
}

// Main eLEMENT DIV
.nav_elements {
  //   border: 1px solid red;
  //   border: 1px solid red;
}

// NAV UL
.ul_nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //   border: 1px solid red;

  color: white;
  list-style-type: none;
  font-weight: 600;
  font-size: 1rem;
}

// LI CONTACT ELEMENT
.li_contact {
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
  color: black;
  font-family: "Fraunces", serif;

  box-shadow: 2px 2px 3px white;
}

// RESPO FOR NAV 1 BREAK POINT 1200 MAX
@media only screen and (max-width: 1200px) {
  .sub_nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .logo_sunny {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
